#blog-container
{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 8vw;
}

#blog-container .blogs
{
	width: 60%;
}

#blog-container .blogs img
{
	width: 100%;
	border-radius: 19px;
}

#blog-container .blogs .post
{
	padding-bottom: 60px;
}

#blog-container .blogs .post h3
{
	color: #29303B;
	padding: 15px 0 10px 0;
}

#blog-container .blogs .post p
{
	color: #757373;
	padding-bottom: 20px;
}

#blog-container .blogs .post a
{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #CF2126;
	color: #fff;
	border-radius: 5px;
	font-weight: 600;
}

#blog-container .cate
{
	width: 30%;
}

#blog-container .cate h2
{
	padding-bottom: 7px;
}

#blog-container .cate a
{
	text-decoration: none;
	color: #757373;
	font-weight: 500;
	line-height: 45px;
}


/*------------------------------------------------------*/
/*------------------- For tablet screen ----------------*/
/*------------------------------------------------------*/
@media (max-width: 789px)
{
	#blog-container
	{
		padding: 8vw 4vw;
	}
}




/*------------------------------------------------------*/
/*------------------- For mobile screen ----------------*/
/*------------------------------------------------------*/
@media screen and (max-width: 475px)
{
	#blog-container
	{
		flex-direction: column;
	}

	#blog-container .blogs
	{
		width: 100%;
	}

	#blog-container .cate
	{
		width: 100%;
	}
}

/*****EVENT SECTION****/
.main-section {
	width: 100%;
	float: left;
	padding: 100px 10px 100px 20px;
}

.event {
	width: 32%;
	margin-left: 5px;
	margin-right: 3px;
	float: left;
	background-color: #fff;
}

.event i {
	color: #CF2126;
	font-size: 14px;
}

.event div {
	padding: 10px;
}

.event .heading {
	padding: 10px;
	color: #fff; 
	background: rgb(21, 21, 100);
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 10px;
}

.event ul li {
	margin-bottom: 20px;
	width: 100%;
	float: left;
	list-style: none;
}

.event-date {
	background: #CF2126;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #fff;
	padding: 8px 12px;
	margin-right: 10px;
}

/**CAMPUS NEWS SECTION****/
.campus-news span {
	width: 80px;
	float: left;
}

.campus-news h2 {
	font-weight: 600;
	font-size: 16px;
}

.campus-news h6 {
	font-weight: 500;
	font-size: 13px;
	color: #CF2126;
}

.campus-news p {
	font-size: 14px;
}
